
* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-dark: #383838;
  --accent-yellow: #f5bd41;
  --bg-color: #eaf0f9;
  --secondary-text: #bfbfbf;
  --accent-blue: #3077c6;
  --general-blue: #10367c;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 104px;
  font-family: 'Roboto', sans-serif;
}
